# Date Time Module

Reproduced by: Elaine R. Cazetta  
Author: Andrew Beatty

In [32]:
# Importing datetime module:
import datetime

In [33]:
# List of attributes in this module:
print(dir(datetime))

['MAXYEAR', 'MINYEAR', 'UTC', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'time', 'timedelta', 'timezone', 'tzinfo']

## Times:

- Time values are represented with the time class.  
- Times have attributes for hour, minute, second, and microsecond.  
- `Time` class official [documentation](https://docs.python.org/3/library/time.html).  

datetime.time(hour=0, minute=0, second=0, microsecond=0, 
              tzinfo=None, *, fold=0)

In [34]:
t=datetime.time(1, 2, 3)
print(t)

01:02:03

In [35]:
print (f'hour  :      {t.hour}')
print (f'minute:      {t.minute}')
print (f'second:      {t.second}')
print (f'microsecond: {t.microsecond}')
print (f'tzinfo:      {t.tzinfo}')

hour  :      1
minute:      2
second:      3
microsecond: 0
tzinfo:      None

### Breakout 1: 
Create a `time` object with 5 microseconds and 39 minutes.

In [ ]:
t = datetime.time(microsecond=5, minute=29)
print(t)

00:29:00.000005

## Dates:

- Calendar date values are represented with the date class.  
- A date is represented in terms of year, month, and day.  
- It is easy to create a date representing todayâ€™s date using the today() class method.  
- `Date` class official [documentation](https://docs.python.org/3/library/datetime.html#date-objects).  

datetime.date(year, month, day)

In [37]:
today = datetime.date.today()
print (f'today: \n\t {today}')
print (f'ctime: \n\t {today.ctime()}')
print (f'tuple: \n\t {today.timetuple()}')
print (f'ordinal: \n\t {today.toordinal()}')
print (f'Year: \n\t {today.year}')
print (f'Mon: \n\t {today.month}')
print (f'Day: \n\t {today.day}')

today:
	 2025-11-03
ctime:
	 Mon Nov  3 00:00:00 2025
tuple:
	 time.struct_time(tm_year=2025, tm_mon=11, tm_mday=3, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=307, tm_isdst=-1)
ordinal:
	 739558
Year:
	 2025
Mon:
	 11
Day:
	 3

### Breakout 2:
Create a date object where year is 2023 and the day is 5.

In [46]:
d = datetime.date(day=5, month=1, year=2023)
print(d)

2023-01-05

## Timedeltas:

- Timedelta objects represent a duration.
- Can be used to calculate the difference between two dates or times.
- We can use datetime to perform basic arithmetic on date values via the timedelta class.

datetime.timedelta(days=0, seconds=0, microseconds=0, 
                   milliseconds=0, minutes=0, hours=0, weeks=0)

In [47]:
print (f"microseconds: {datetime.timedelta(microseconds=1)}")
print (f"milliseconds: {datetime.timedelta(milliseconds=1)}")
print (f"seconds:      {datetime.timedelta(seconds=1)}")
print (f"minutes:      {datetime.timedelta(minutes=1)}")
print (f"hours:        {datetime.timedelta(hours=1)}")
print (f"days:         {datetime.timedelta(days=1)}")
print (f"weeks:        {datetime.timedelta(weeks=1)}")

microseconds: 0:00:00.000001
milliseconds: 0:00:00.001000
seconds:      0:00:01
minutes:      0:01:00
hours:        1:00:00
days:         1 day, 0:00:00
weeks:        7 days, 0:00:00

### Date Arithmetic:

- Date math uses the standard arithmetic operators.  
- The following example with date objects illustrates using *timedelta* objects to compute new dates, and subtracting date instances to produce timedeltas (including a negative delta value).

In [48]:
today = datetime.date.today()
print('Today:', today)

Today: 2025-11-03

In [49]:
one_timedelta_day = datetime.timedelta(days=1)
print('One timedelta day:', one_timedelta_day)

One timedelta day: 1 day, 0:00:00

In [50]:
yesterday = today - one_timedelta_day
print('Yesterday:', yesterday)

Yesterday: 2025-11-02

In [51]:
tomorrow = today + one_timedelta_day
print('Tomorrow:', tomorrow)

Tomorrow: 2025-11-04

In [52]:
print('tomorrow - yesterday:', tomorrow - yesterday)
print('yesterday - tomorrow:', yesterday - tomorrow)

tomorrow - yesterday: 2 days, 0:00:00
yesterday - tomorrow: -2 days, 0:00:00