## Weighted Stats

- This notebook is made in the Programming for Data Analytics lecture on weighted descriptive statistics.
- Author: Andrew Beatty
- Reproduced by: Elaine R. Cazeta

In [11]:
import pandas as pd

In [12]:
url = "https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/FY006A/CSV/1.0/en"
df = pd.read_csv(url)
df.tail(3)

,STATISTIC,Statistic Label,TLIST(A1),CensusYear,C02199V02655,Sex,C02076V03371,Single Year of Age,C03789V04537,Administrative Counties,UNIT,VALUE
9789,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-149d-13a3-e055-000000000001,Cavan County Council,Number,12
9790,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-14a4-13a3-e055-000000000001,Donegal County Council,Number,31
9791,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1495-13a3-e055-000000000001,Monaghan County Council,Number,7

In [13]:
df = df[df["Sex"] != "Female"]
df = df[df["Sex"] != "Male"]
df.tail(3)

,STATISTIC,Statistic Label,TLIST(A1),CensusYear,C02199V02655,Sex,C02076V03371,Single Year of Age,C03789V04537,Administrative Counties,UNIT,VALUE
3261,FY006AC01,Population,2022,2022,-,Both sexes,650,100 years and over,2ae19629-149d-13a3-e055-000000000001,Cavan County Council,Number,18
3262,FY006AC01,Population,2022,2022,-,Both sexes,650,100 years and over,2ae19629-14a4-13a3-e055-000000000001,Donegal County Council,Number,33
3263,FY006AC01,Population,2022,2022,-,Both sexes,650,100 years and over,2ae19629-1495-13a3-e055-000000000001,Monaghan County Council,Number,8

In [14]:
headers = df.columns.tolist()
headers

['STATISTIC',
 'Statistic Label',
 'TLIST(A1)',
 'CensusYear',
 'C02199V02655',
 'Sex',
 'C02076V03371',
 'Single Year of Age',
 'C03789V04537',
 'Administrative Counties',
 'UNIT',
 'VALUE']

In [15]:
drop_col_list = ['STATISTIC', 'Statistic Label','TLIST(A1)','CensusYear','C02199V02655','Sex','C02076V03371','C03789V04537','UNIT']
df.drop(columns=drop_col_list,inplace=True)
df = df[df["Single Year of Age"] != "All ages"]
df['Single Year of Age'] = df['Single Year of Age'].str.replace('Under 1 year', '0')
df['Single Year of Age'] = df['Single Year of Age'].str.replace('\D', '', regex=True)

df['Single Year of Age']=df['Single Year of Age'].astype('int64')
df['VALUE']=df['VALUE'].astype('int64')
#print (df.head(3))
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3232 entries, 32 to 3263
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Single Year of Age       3232 non-null   int64
 1   Administrative Counties  3232 non-null   object
 2   VALUE                    3232 non-null   int64
dtypes: int64(2), object(1)
memory usage: 101.0+ KB

<>:5: SyntaxWarning: invalid escape sequence '\D'
<>:5: SyntaxWarning: invalid escape sequence '\D'
/tmp/ipykernel_8128/142368329.py:5: SyntaxWarning: invalid escape sequence '\D'
  df['Single Year of Age'] = df['Single Year of Age'].str.replace('\D', '', regex=True)

In [16]:
df_anal = pd.pivot_table(df, 'VALUE',"Single Year of Age","Administrative Counties")
print (df_anal.head(3))
# write out the entire file to local machine
df_anal.to_csv("population_for_analysis.csv")

Administrative Counties  Carlow County Council  Cavan County Council  \
Single Year of Age
0                                        699.0                1006.0
1                                        649.0                1004.0
2                                        689.0                1061.0

Administrative Counties  Clare County Council  Cork City Council  \
Single Year of Age
0                                      1377.0             2283.0
1                                      1360.0             2284.0
2                                      1473.0             2306.0

Administrative Counties  Cork County Council  Donegal County Council  \
Single Year of Age
0                                     4190.0                  1797.0
1                                     4115.0                  1881.0
2                                     4290.0                  1971.0

Administrative Counties  Dublin City Council  \
Single Year of Age
0                                     6213.0
1                                     5699.0
2                                     5830.0

Administrative Counties  Dún Laoghaire Rathdown County Council  \
Single Year of Age
0                                                       2457.0
1                                                       2437.0
2                                                       2489.0

Administrative Counties  Fingal County Council  Galway City Council  ...  \
Single Year of Age                                                   ...
0                                       4009.0                792.0  ...
1                                       3894.0                757.0  ...
2                                       4308.0                792.0  ...

Administrative Counties  Monaghan County Council  Offaly County Council  \
Single Year of Age
0                                          868.0                  935.0
1                                          821.0                  937.0
2                                          870.0                  945.0

Administrative Counties  Roscommon County Council  Sligo County Council  \
Single Year of Age
0                                           748.0                 743.0
1                                           764.0                 766.0
2                                           893.0                 764.0

Administrative Counties  South Dublin County Council  \
Single Year of Age
0                                             3544.0
1                                             3673.0
2                                             3734.0

Administrative Counties  Tipperary County Council  \
Single Year of Age
0                                          1932.0
1                                          1808.0
2                                          1836.0

Administrative Counties  Waterford City & County Council  \
Single Year of Age
0                                                 1340.0
1                                                 1266.0
2                                                 1329.0

Administrative Counties  Westmeath County Council  Wexford County Council  \
Single Year of Age
0                                          1129.0                  1792.0
1                                          1158.0                  1724.0
2                                          1108.0                  1835.0

Administrative Counties  Wicklow County Council
Single Year of Age
0                                        1710.0
1                                        1682.0
2                                        1796.0

[3 rows x 32 columns]