# Assignment 3 - Domains

## - Requirements: 

Create a notebook called 'assignment03-pie.ipynb'. The notebook should have a nice pie chart of people's email domains in the csv file [at the url](https://drive.google.com/uc?id=1AWPf-pJodJKeHsARQK_RHiNsE8fjPCVK&export=download).

In [28]:
# Importing pandas module:
import pandas as pd

In [29]:
# URL for downloading the dataset from Google Drive:
url ='https://drive.google.com/uc?id=1AWPf-pJodJKeHsARQK_RHiNsE8fjPCVK&export=download'

In [30]:
# Reading the dataset from the URL and storing it in a pandas DataFrame
df = pd.read_csv(url)
# Displaying the first 5 rows of the DataFrame
df.head(5)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,8717bbf45cCDbEe,Shelia,Mahoney,Male,pwarner@example.org,857.139.8239,2014-01-27,Probation officer
1,2,3d5AD30A4cD38ed,Jo,Rivers,Female,fergusonkatherine@example.net,+1-950-759-8687,1931-07-26,Dancer
2,3,810Ce0F276Badec,Sheryl,Lowery,Female,fhoward@example.org,(599)782-0605,2013-11-25,Copy
3,4,BF2a889C00f0cE1,Whitney,Hooper,Male,zjohnston@example.com,+1-939-130-6258,2012-11-17,Counselling psychologist
4,5,9afFEafAe1CBBB9,Lindsey,Rice,Female,elin@example.net,(390)417-1635x3010,1923-04-15,Biomedical engineer

In [31]:
# Selecting the 'Email' column from the DataFrame
email = df['Email']
# Printing the contents of the 'Email' column
print(email)

0                pwarner@example.org
1      fergusonkatherine@example.net
2                fhoward@example.org
3              zjohnston@example.com
4                   elin@example.net
                   ...
995           lyonsdaisy@example.net
996          dariusbryan@example.com
997           georgechan@example.org
998              wanda04@example.net
999          deannablack@example.org
Name: Email, Length: 1000, dtype: object

Sources: 

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html#pandas.read_csv  
https://chatgpt.com/share/68f6909e-7be8-8007-aa36-8df343af74c4

## End